
        <section class="wpo-service-section-s3 section-padding">
            <h2 class="hidden">some</h2>
            <div class="container">
                <div class="wpo-service-wrap">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="wpo-service-item">
                                <div class="wpo-service-text">
                                    <div class="s-icon">
                                        <i class="fi flaticon-gallery"></i>
                                    </div>
                                    <a href="service-single.html">Photography</a>
                                    <p>Quis ipsome suspendisse ultrices gravid. Risus commod viverra maescums.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="wpo-service-item">
                                <div class="wpo-service-text">
                                    <div class="s-icon">
                                        <i class="fi flaticon-serving-dish"></i>
                                    </div>
                                    <a href="service-single.html">Fine Dining</a>
                                    <p>Quis ipsome suspendisse ultrices gravid. Risus commod viverra maescums.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="wpo-service-item">
                                <div class="wpo-service-text">
                                    <div class="s-icon">
                                        <i class="fi flaticon-edit"></i>
                                    </div>
                                    <a href="service-single.html">Wedding Registry</a>
                                    <p>Quis ipsome suspendisse ultrices gravid. Risus commod viverra maescums.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="wpo-service-item">
                                <div class="wpo-service-text">
                                    <div class="s-icon">
                                        <i class="fi flaticon-wedding"></i>
                                    </div>
                                    <a href="service-single.html">Guest List</a>
                                    <p>Quis ipsome suspendisse ultrices gravid. Risus commod viverra maescums.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="wpo-service-item">
                                <div class="wpo-service-text">
                                    <div class="s-icon">
                                        <i class="fi flaticon-cake"></i>
                                    </div>
                                    <a href="service-single.html">Perfect Cake</a>
                                    <p>Quis ipsome suspendisse ultrices gravid. Risus commod viverra maescums.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="wpo-service-item">
                                <div class="wpo-service-text">
                                    <div class="s-icon">
                                        <i class="fi flaticon-wedding-rings"></i>
                                    </div>
                                    <a href="service-single.html">Wedding Ceremony</a>
                                    <p>Quis ipsome suspendisse ultrices gravid. Risus commod viverra maescums.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
       